html, body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  overflow-y:auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: rgb(12, 0, 78);
  border-radius: 10px;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  background-image: url(https://www.teahub.io/photos/full/27-278886_cool-dark-phone-background.jpg);
  height: 55px;
}
.logo{
  position: relative;
  bottom: 10px;
  left: 50px;
  top: 9px;
  color: aliceblue;
}
.logo h2{
  font-size: 26px;
}
.logo span{
  color: rgb(23, 114, 189);
}
.main-li li{
  color: aliceblue;
  display: inline;
  margin-left: 20px;
  margin-right: 10px;
}

.dv-li{
  position: relative;
  top: 15px;
}

.main-li li a{
  color: white;
  text-decoration-line: none;
}
.main-li li a:hover{
  color: grey;
}
.search{
  width: 400px;
  height: 30px;
  position: relative;
  top: 13px;
  left: 40px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search:focus{
  background-color: rgba(255, 255, 255, 0.75);
}
::placeholder{
  color: rgb(65, 60, 60);
  position: relative;
  left: 90px;
}
.container-fluid{
  background-image: url(https://wallpaperaccess.com/full/188825.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap-reverse;
  
}

.title-img{
  position: relative;
  top: 220px;
  right: 125px;
  color: aliceblue;
  text-decoration: none;
}
.image-container {
  display: flex;
  transition: transform 0.5s;
  height: 50px;
  margin-left: 20px;
  margin-top: 50px;
}
.image-container img {
  border-radius: 10px;
  box-shadow: 10px 10px 8px #000000;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity: 1;
}


.mr-2{
  color: aliceblue;
}
.main70{
  display: flex;
}
.first-list{
  background-image: url(https://www.teahub.io/photos/full/27-278886_cool-dark-phone-background.jpg);
  background-size: cover;
  width: 250px;
  height: 100vh;
  color: aliceblue;
}
.first-list h4{
  color: rgb(23, 114, 189);
}
.ul1, .ul2{
  margin-left: 20px;
  position: relative;
  top: 120px;
}
.ul1, .ul2 li{
  list-style: none;
  cursor: pointer;
}
.ul1 li:hover{
  letter-spacing: 2px;
}
.ul2 li:hover{
  letter-spacing: 2px;
}
input[type="radio"] {
  display: none;
}
.rating{
  position: relative;
  right: 360px;
  top: 50px;
  font-size: 25px;
}
.rate{
  position: relative;
  right: 360px;
  top: 50px;
  color: rgb(23, 114, 189);
}
.stars1{
  position: relative;
  top: 200px;
  left: 110px;
}
.toggle15{
  position: absolute;
  top: 650px;
  left: 50px;
}
.insideT{
  position: absolute;
  top: -550px;
  left: 500px;
  bottom: 200px;
  border-radius: 10px;
  z-index: 1;
  width: 400px;
  height: 500px;
  background-image: url(https://media.istockphoto.com/photos/dark-blue-stained-grungy-background-or-texture-picture-id1132593892?k=20&m=1132593892&s=612x612&w=0&h=dMVA_OoY01ef2jUR223F4M0vFA4HRZ8i44q9TMZGHcQ=);
  background-size: cover;
}
.btn-close{
  position: absolute;
  background-color: aliceblue;
  top: 5px;
  left: 370px;
  border-radius: 10px;
  box-shadow: blueviolet;
}
.btn{
  background-color: rgb(40, 40, 122);
  position: relative;
  bottom: 100px;
}
.btn-primary{
  background-color: rgb(79, 56, 100) !important;
  border-color: rgb(185, 114, 252) !important;
}

.text66{
  position: absolute;
  left: 170px;
  top: 50px;
}
.text66 h4{
  color: rgb(255, 255, 255);
}
.text66 input{
  position: relative;
  right: 60px;
  height: 25px;
  background-color: rgb(168, 168, 168);
}
.trailer-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 150px;
  top: 100px;
}
.trailer-main h1{
  color: wheat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.trailer-main p{
  color: aliceblue;
  margin-top: 10px;
  width: 800px;
}
.trailer-main iframe{
  box-shadow: 10px 10px 8px #000000;
}
.link-1{
  text-decoration: none;
}
.link-2{
  text-decoration: none;
}


